<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- このファイルでは、ユーザーが自分の名前と趣味（複数可）を入力できるフォームを作成してください -->
    <form action="/user-hobbies" method="post">
        <label for="name">名前</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="hobbies">趣味</label>
        <input type="text" id="hobbies" name[]="hobbies">
        <br>
        <input type="submit" value="登録">
</body>
</html>